.index_main_screen {
	height: 100vh;
	//width: 100vw;
	background-color: #fff;
	padding: 60px 20px 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.index_main_screen_content_container {
	display: flex;
}
.index_main_screen_logo_container {
	width: 230px;
	text-align: left;
}
.index_main_screen_name_container {
	//padding-top: 115px;
	h1 {
		font-size: 70px;
		font-weight: 700;
		font-family: "Avantgard", sans-serif;
		text-transform: uppercase;
	}
	h1 {
		font {
			font {
				font-size: 70px;
				font-weight: 700;
				font-family: "Avantgard", sans-serif;
				text-transform: uppercase;
			}
		}
	}
	h2 {
		margin-top: 10px;
		font-size: 30px;
		font-weight: 800;
		font-family: "Gilroy ExtraBold", sans-serif;
	}
	h2 {
		font {
			font {
				//margin-top: 10px;
				font-size: 30px;
				font-weight: 800;
				font-family: "Gilroy ExtraBold", sans-serif;
			}
		}
	}
	.index_main_screen_text {
		font-size: 24px;
		font-family: "Gilroy-Light", sans-serif;
		margin-top: 90px;
	}
	.index_main_screen_text {
		font {
			font {
				font-size: 24px;
				font-family: "Gilroy-Light", sans-serif;
				//margin-top: 90px;
			}
		}
	}
	.main_screen_button {
		font-size: 36px;
		font-family: "Gilroy ExtraBold", sans-serif;
		background-color: #390065;
		color: #fff;
		padding: 25px 70px;
		margin-top: 45px;
		cursor: pointer;
	}
	.main_screen_button {
		font {
			font {
				font-size: 36px;
				font-family: "Gilroy ExtraBold", sans-serif;
				background-color: #390065;
				color: #fff;
				//padding: 25px 70px;
				//margin-top: 45px;
				cursor: pointer;
			}
		}
	}
}
.index_advantages_screen {
	padding: 50px 0;
	background: #121212;
	.advantages_title {
		margin-left: 230px;
		display: inline-block;
		h2 {
			font-size: 96px;
			font-family: "Gilroy ExtraBold", sans-serif;
			//background: white;
			//mix-blend-mode: screen;
			text-transform: uppercase;
			background: linear-gradient(90deg, #54bbf6 0%, #390065 100%);
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	.index_advantages {
		margin-top: 105px;
		display: flex;
		justify-content: space-between;
		.index_advantages_item {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 620px;
			.index_advantages_item_number {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex-basis: 50%;
				font-size: 200px;
				font-family: "Gilroy-ExtraBold", sans-serif;
				color: rgba(255, 255, 255, 0.5);
			}
			.index_advantages_item_number {
				font {
					font {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						flex-basis: 50%;
						font-size: 155px;
						font-family: "Gilroy-ExtraBold", sans-serif;
						color: rgba(255, 255, 255, 0.5);
					}
				}
			}
			.index_advantages_item_icon {
				justify-content: center;
				display: flex;
				align-items: center;
				flex-direction: column-reverse;
				flex-basis: 50%;
				border-radius: 0% 0% 100% 0%;
				background: #fff;
				padding-right: 45px;
				padding-left: 0;
				.index_advantages_icon {
					margin-top: 25px;
				}
			}
			.index_advantages_item_title {
				font-size: 26px;
				font-family: "Gilroy-Light", sans-serif;
				text-align: center;
			}
			.index_advantages_item_title {
				font {
					font {
						font-size: 26px;
						font-family: "Gilroy-Light", sans-serif;
						text-align: center;
					}
				}
			}
		}
		.index_advantages_item:nth-child(2n) {
			flex-direction: column-reverse;
			.index_advantages_item_icon {
				border-radius: 100% 0% 0% 0%;
				flex-direction: column;
				padding-left: 65px;
				padding-right: 0;
				.index_advantages_icon {
					margin-top: 0px;
					margin-bottom: 25px;
				}
			}
		}
	}
}
.index_why_we {
	padding: 50px 0 100px 0;
	background-color: #fff;
	h2 {
		font-size: 96px;
		margin-left: 230px;
		margin-bottom: 50px;
		background: linear-gradient(270deg, #54bbf6 0%, #390065 100%);
		display: inline-block;
		font-family: "Gilroy-ExtraBold", sans-serif;
		text-transform: uppercase;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h2 {
		font {
			font {
				font-size: 96px;
				//margin-left: 230px;
				//margin-bottom: 50px;
				background: linear-gradient(270deg, #54bbf6 0%, #390065 100%);
				display: inline-block;
				font-family: "Gilroy-ExtraBold", sans-serif;
				text-transform: uppercase;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	.index_why_we_description {
		margin-left: 290px;
		padding-left: 60px;
		max-width: 910px;
		font-size: 22px;
		border-left: 5px solid;
		border-image: linear-gradient(0deg, #54bbf6 0%, #390065 100%);
		border-image-slice: 1;
		border-width: 5px;
		border-right: 0;
	}
}
.index_contacts {
	padding: 50px 0;
	background: #121212;
	display: block;
	h2 {
		color: #fff;
		font-size: 60px;
		margin-left: 230px;
		margin-bottom: 70px;
		font-family: "Gilroy-ExtraBold", sans-serif;
	}
	h2 {
		font {
			font {
				color: #fff;
				font-size: 60px;
				//margin-left: 230px;
				//margin-bottom: 70px;
				font-family: "Gilroy-ExtraBold", sans-serif;
			}
		}
	}
	.index_input_container {
		display: flex;
		justify-content: space-between;
	}
	form {
		z-index: 2;
		position: relative;
		text-align: center;
		max-width: 1140px;
		margin: 0 auto;
	}
	input {
		width: 30%;
		height: 80px;
		font-size: 22px;
		color: white;
		font-family: "Gilroy-ExtraBold", sans-serif;
		padding-left: 25px;
		border: 3px solid;
		border-image: linear-gradient(270deg, #54bbf6 0%, #390065 100%);
		border-image-slice: 1;
		background: transparent;
	}
	textarea {
		resize: none;
		width: 100%;
		height: 200px;
		margin-top: 50px;
		padding: 30px 45px;
		font-size: 22px;
		color: white;
		font-family: "Gilroy-ExtraBold", sans-serif;
		border: 3px solid;
		border-image: linear-gradient(270deg, #54bbf6 0%, #390065 100%);
		border-image-slice: 1;
		background: transparent;
	}
	button {
		cursor: pointer;
		font-size: 36px;
		color: white;
		font-family: "Gilroy-ExtraBold", sans-serif;
		margin-top: 50px;
		padding: 25px 90px;
		background: linear-gradient(90deg, #54bbf6 0%, #390065 150%);
		background-size: 150% 100%;
		background-position: 0% 0;
		transition: background 0.25s;
		&:hover {
			background-position: 100% 0;
		}
	}
	button {
		font {
			font {
				font-size: 36px;
				color: white;
				font-family: "Gilroy-ExtraBold", sans-serif;
			}
		}
	}
	.error_form_msg {
		margin-top: 15px;
		font-size: 22px;
		text-align: left;
		font-family: "Gilroy-ExtraBold", sans-serif;
		color: #9f0000;
	}
	.error_form_msg {
		form {
			form {
				//margin-top: 15px;
				font-size: 22px;
				//text-align: left;
				font-family: "Gilroy-ExtraBold", sans-serif;
				color: #9f0000;
			}
		}
	}
	.error_input {
		border: 3px solid #9f0000;
	}
}
//Заголовок с градиентом
.gradient_title {
	//width: 100%;
	display: inline-block;

	h2 {
		font-size: 96px;
		font-family: "Gilroy ExtraBold", sans-serif;
		text-transform: uppercase;
		background: linear-gradient(90deg, #54bbf6 0%, #390065 100%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h2 {
		font {
			font {
				font-size: 96px;
				font-family: "Gilroy ExtraBold", sans-serif;
				text-transform: uppercase;
				background: linear-gradient(90deg, #54bbf6 0%, #390065 100%);
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}

//Forms
.index_contacts_light {
	background-color: #fff;
	h2 {
		color: #121212;
		font font {
			color: #121212;
		}
	}

	input,
	textarea {
		color: #121212;
		font font {
			color: #121212;
		}
	}
}

//Shifted text with gradient line
.shift_description {
	margin-left: 80px;
	margin-right: 80px;
	//max-width: 910px;
	font-size: 22px;
	//border-left: 5px solid;
	//border-image: $side_menu_gradient_invert;
	//border-image-slice: 1;
	//border-width: 5px;
	font {
		font {
			position: relative;
			//margin-left: 80px;
			//margin-right: 80px;
			//max-width: 910px;
			font-size: 22px;
		}
	}
	position: relative;

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: -30px;
		height: 100%;
		width: 5px;
		background: linear-gradient(0deg, #54bbf6 0%, #390065 100%);
	}
}

@media (max-width: 1536px) {
	.index_advantages_item {
		height: 480px !important;

		.index_advantages_item_number {
			font-size: 155px !important;
		}

		.index_advantages_icon {
			margin-top: 10px !important;
			height: 70px;
		}

		.index_advantages_icon:nth-child(2n + 1) {
			margin-bottom: 10px !important;
		}
	}

	.index_main_screen_name_container {
		padding-top: 0px;

		.index_main_screen_text {
			margin-top: 65px;
		}
	}
}

@media (max-width: 1366px) {
	.gradient_title {
		margin-left: 130px !important;
	}

	.index_why_we {
		h2 {
			margin-left: 130px !important;
		}

		.index_why_we_description {
			margin-left: 200px !important;
		}
	}

	.index_main_screen_name_container {
		//padding-top: 50px;

		h1 {
			font-size: 60px;
		}

		.index_main_screen_text {
			margin-top: 50px;
		}
	}
}

@media (max-width: 1200px) {
	.index_main_screen {
		padding-top: 40px !important;
	}

	.index_main_screen_img_container {
		img {
			width: 350px !important;
		}
	}

	.index_main_screen_name_container {
		//padding-top: 45px !important;

		h1 {
			font-size: 55px;
		}

		.index_main_screen_text {
			margin-top: 40px !important;
		}

		.main_screen_button {
			margin-top: 30px !important;
		}
	}

	.index_advantages {
		flex-wrap: wrap !important;

		.index_advantages_item {
			flex-basis: 33% !important;
			height: 700px !important;
		}
	}

	.index_contacts {
		h2 {
			margin-left: 130px !important;
		}
	}
}

@media (max-width: 1024px) {
	.shift_description {
		margin-top: 45px !important;
	}
	.index_main_screen_img_container {
		display: none !important;
	}
	.index_advantages {
		margin-top: 45px !important;
	}
	.gradient_title {
		margin-left: 85px !important;

		h2 {
			font-size: 80px !important;
		}
	}
	.index_advantages .index_advantages_item {
		height: 615px !important;
	}
	.index_why_we .index_why_we_description {
		padding-left: 35px;
		padding-right: 60px;
		margin-left: 140px !important;
	}
	.index_why_we {
		h2 {
			margin-left: 80px !important;
		}

		.index_why_we_description {
			margin-left: 80px !important;
		}
	}

	input {
		padding-left: 20px !important;
	}

	form {
		max-width: 900px !important;
	}
}

@media (max-width: 800px) {
	.index_main_screen_name_container h1 {
		font-size: 45px;
		font {
			font {
				font-size: 45px !important;
			}
		}
	}
	/* .index_main_screen_name_container h1 font font {
		font-size: 45px !important; 
	} */
	.index_main_screen_name_container .main_screen_button {
		font-size: 25px;
		font {
			font {
				font-size: 25px;
			}
		}
	}

	.gradient_title h2 {
		font-size: 60px !important;
		font {
			font {
				font-size: 50px !important;
			}
		}
	}

	.index_why_we {
		padding: 30px 0 50px 0;

		h2 {
			font-size: 70px !important;
			margin-bottom: 20px;
			font font {
				font-size: 70px !important;
			}
		}

		.index_why_we_description {
			font-size: 18px;
			font font {
				font-size: 18px;
			}
		}
	}

	.index_main_screen {
		padding-top: 20px !important;
	}

	.index_main_screen_name_container {
		padding-top: 0 !important;
	}

	.index_main_screen_logo_container {
		width: 160px;
		margin-right: 35px;

		img {
			width: 130px;
		}
	}

	.index_main_screen_name_container .index_main_screen_text {
		margin-top: 25px !important;
		font-size: 18px !important ;
		font font {
			font-size: 18px !important ;
		}
	}

	.index_main_screen_name_container .main_screen_button {
		font-size: 20px;
		padding: 20px 40px !important;
		font font {
			font-size: 20px;
		}
	}

	.index_advantages_screen {
		padding: 30px 0 !important;

		.index_advantages {
			margin-top: 25px !important;
		}

		.index_advantages_item {
			height: 480px !important;
		}
	}

	.index_contacts {
		padding: 30px 0;

		h2 {
			margin-left: 80px !important;
			font-size: 45px;
			margin-bottom: 30px;
			font font {
				font-size: 45px;
			}
		}

		input {
			height: 50px;
			padding-left: 10px;
			font-size: 18px;
		}

		textarea {
			margin-top: 20px;
			font-size: 18px;
			padding-left: 10px;
			height: 120px;
		}

		.error_form_msg {
			font-size: 18px !important;
		}

		button {
			margin-top: 20px;
			padding: 20px 40px !important;
			font-size: 20px;
		}
	}
	.shift_description {
		margin: 0 20px !important;
		margin-top: 25px !important;

		font-size: 20px !important;
		font font {
			font-size: 20px !important;
		}
	}

	form {
		max-width: 600px !important;
	}

	.gradient_title {
		margin-left: 60px !important;

		h2 {
			font-size: 60px !important;
			font font {
				font-size: 45px !important;
			}
		}
	}
}

@media (max-width: 550px) {
	.shift_description {
		margin-top: 10px !important;

		&::before {
			width: 3px !important;
			left: -15px !important;
		}
	}
	.gradient_title {
		//margin-left: 60px !important;
		margin-left: 60px !important;

		h2 {
			font-size: 35px !important;
			font font {
				font-size: 35px !important;
			}
		}
	}

	.index_advantages {
		.index_advantages_item {
			flex-basis: 50% !important;

			.index_advantages_item_number {
				font-size: 100px !important;
				font font {
					font-size: 100px !important;
				}
			}

			.index_advantages_item_icon {
				padding-right: 20px !important;
			}

			.index_advantages_item_title {
				font-size: 20px !important;
				font font {
					font-size: 20px !important;
				}
			}

			img {
				height: 50px;
			}
		}

		.index_advantages_item:nth-child(2n) {
			.index_advantages_item_icon {
				padding-left: 20px !important;
				padding-right: 0 !important;
			}
		}
	}

	.index_why_we {
		h2 {
			margin-left: 60px !important;
			font-size: 40px !important;
			font font {
				font-size: 40px !important;
			}
		}

		.index_why_we_description {
			margin-left: 60px !important;
			padding-left: 15px;
			border-width: 3px !important;
		}
	}

	.index_contacts {
		h2 {
			margin-left: 60px !important;
			font-size: 26px;
			font font {
				font-size: 26px;
			}
		}

		.index_input_container {
			flex-direction: column;

			input {
				height: 80px;
				width: 100%;
				margin-bottom: 25px;
				font-size: 22px;
				font font {
					font-size: 22px;
				}
			}
		}

		button {
			width: 100% !important;
			font-size: 24px !important;
			font font {
				font-size: 24px !important;
			}
		}
	}
	
	.index_main_screen_logo_container {
		margin-right: 0;
		text-align: center;
	}

	.index_main_screen_content_container {
		flex-direction: column;
		align-items: center;

		.index_main_screen_name_container {
			padding-top: 20px !important;
			text-align: center;

			h2 {
				font-size: 23px;
				font font {
					font-size: 23px;
				}
			}
		}
	}
}

@media (max-width: 410px) {
	.shift_description {
		margin: 0 !important;
		margin-left: 15px !important;

		font-size: 16px !important;
		font font {
			font-size: 16px !important;
		}
	}

	.index_main_screen_name_container {
		h1 {
			font-size: 32px;
			font font {
				font-size: 32px;
			}
		}
	}

	.gradient_title {
		margin-left: 30px !important;

		h2 {
			font-size: 35px !important;
			font font {
				font-size: 35px !important;
			}
		}
	}

	.index_advantages_screen .index_advantages {
		.index_advantages_item {
			height: 370px !important;
		}

		.index_advantages_item_title {
			font-size: 16px !important;
			font font {
				font-size: 16px !important;
			}
		}
	}

	.index_why_we {
		h2 {
			margin-left: 0 !important;
		}

		.index_why_we_description {
			margin-left: 20px !important;
			padding-right: 10px;
		}
	}

	.index_contacts {
		h2 {
			margin-left: 0 !important;
		}

		input {
			font-size: 16px !important;
			font font {
				font-size: 16px !important;
			}
		}

		textarea {
			font-size: 16px !important;
			font font {
				font-size: 16px !important;
			}
		}
	}
}
.centrus {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}