.portfolio_cases_screen {
	padding: 50px 0 100px 0;

	h2 {
		display: block;
		margin-bottom: 60px;
	}

	.portfolio_cases_container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin: 0 auto;
		max-width: 1250px;
		/* .gradient_title {
			min-width: 100%;
		} */

		article {
			transition: box-shadow 0.25s;
			transition: transform 0.25s;

			height: 450px;

			background: url("http://localhost:3000/img/portfolio_case.png");
			background-size: contain !important;
			background-position-x: 50% !important;
			background-repeat: no-repeat !important;

			flex-basis: 49%;
			margin-bottom: 30px;

			a {
				width: 100%;
				height: 100%;

				display: flex;
				justify-content: space-between;
				flex-direction: column;

				background: #00000025;
			}

			.case_number {
				font-size: 200px;
				line-height: 154px;
				color: rgba(255, 255, 255, 0.7);
				font-family: "Gilroy-ExtraBold", sans-serif;
				margin-left: 60px;
				font font {
					font-size: 200px;
					line-height: 154px;
					color: rgba(255, 255, 255, 0.7);
					font-family: "Gilroy-ExtraBold", sans-serif;
				}
			}

			.portfolio_description_container {
				background: rgba(255, 255, 255, 0.5);
				padding: 20px 70px;
			}

			.portfolio_case_title {
				font-family: "Gilroy-ExtraBold", sans-serif;
				font-size: 30px;
				color: #121212;
				font font {
					font-family: "Gilroy-ExtraBold", sans-serif;
					font-size: 30px;
					color: #121212;
				}
			}

			.description {
				font-family: "Gilroy-Regular", sans-serif;
				color: #121212;
				line-height: 19px;
				font-size: 16px;

				margin-top: 15px;
				font font {
					font-family: "Gilroy-Regular", sans-serif;
					color: #121212;
					line-height: 19px;
					font-size: 16px;
				}
			}
		}

		article:hover {
			box-shadow: 5px 5px 20px rgba(84, 187, 246, 0.4);
			transform: scale(1.05);
		}
	}
}

.portfolio_form {
	width: 100%;
	min-height: 100%;
	//display: flex;
	position: absolute;
	z-index: 10000;
	left: 0;
	top: 0;

	background: black;

	#close_portfolio_form {
			position: fixed;
			top: 25px;
			right: 25px;
			cursor: pointer;
	}

	#go_to_site {
			position: fixed;
			display: flex;
			justify-content: space-evenly;

			a {
					border: none;
					background: transparent;
					position: absolute;
					cursor: pointer;

					background: linear-gradient(180deg, #54BBF6 0%, #390065 150%);
					background-size: 150% 100%;
					background-position: 0 0;
					transition: #121212 0.25s;

					background-clip: text;
					-webkit-text-fill-color: transparent;
					font-family: "Gilroy-ExtraBold", sans-serif;
					font-style: normal;
					font-weight: 800;
					font-size: 36px;
					line-height: 44px;

					top: 25px;
					left: 25px;

					writing-mode: tb-rl;
					transform: rotate(180deg);
					font font {
						font-family: "Gilroy-ExtraBold", sans-serif;
						font-style: normal;
						font-weight: 800;
						font-size: 36px;
					}

					&:hover {
							background-position: 100% 0;
					}
			}
	}

	.portfolio_form_container {
			width: 100%;
			min-height: 100%;

			padding: 50px 150px;

			img {
					width: 100%;
			}
	}
}

@media (max-width: 1024px) {
	.portfolio_form .portfolio_form_container {
			padding: 50px 70px;
	}

	.portfolio_form #close_portfolio_form {
			width: 40px;
			right: 15px;
	}

	.portfolio_form #go_to_site a {
			left: 15px;
	}
}

@media (max-width: 1024px) {
	.gradient_title {
		h2 {
			margin-bottom: 15px;
		}
	}

	.portfolio_cases_screen .portfolio_cases_container article {
		flex-basis: 100%;
	}
}

@media (max-width: 1024px) {
	.portfolio_cases_screen {
		padding-bottom: 20px;

		.portfolio_cases_container article {
			height: 380px;

			.case_number {
				font-size: 140px;
				font font {
					font-size: 140px;
				}
			}

			.portfolio_description_container {
				padding: 20px;
				background: rgba(255, 255, 255, 0.7);
			}
		}
	}
}

@media (max-width: 410px) {
	.portfolio_cases_screen {
		padding-bottom: 20px;

		.portfolio_cases_container article {
			height: 300px;

			.portfolio_case_title {
				font-size: 24px;
				font font {
					font-size: 24px;
				}
			}

			.case_number {
				font-size: 100px;
				line-height: 134px;
				font font {
					font-size: 100px;
					line-height: 134px;
				}
			}

			.portfolio_description_container {
				padding: 10px;
				background: rgba(255, 255, 255, 0.7);
			}
		}
	}

	.portfolio_cases_screen .portfolio_cases_container article .case_number {
		margin-left: 15px;
		line-height: 105px;
		font font {
			line-height: 105px;
		}
	}
}
